@import "react-phone-number-input/style.css";

:root {
  --PhoneInputCountrySelectArrow-color: white;
  --PhoneInputCountrySelect-marginRight: 4rem;
  --PhoneInputCountrySelectArrow-color--focus: red;
  --PhoneInputCountrySelectArrow-width: 4em;

  --PhoneInputCountrySelectArrow-opacity: 0.6;
  --PhoneInput-color--focus: #ffffff;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: inline-flex;
  align-items: center;
}

.number-input button {
  background-color: black;
  border: none;
  cursor: pointer;
  font-size: 16px;
  /* padding: 4px 8px; */
}

input[type="number"] {
  /* padding: 4px 8px; */
  border: 1px solid #ccc;
  font-size: 16px;
}

.seating {
  appearance: none;
  /* background: none; */
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;

  /* border-radius: 50%; */
  width: 29px;
  height: 29px;
  outline: 2px solid white;
  outline-offset: 4px;
  transition: 0.12s all linear;
  border: none;
}

@media (max-width: 768px) {
  .seating {
    width: 20px;
    height: 20px;
    /* outline: 2px solid white;
    outline-offset: 4px; */
  }
}

input[type="radio"].seating:checked {
  outline: 2px solid white;
  outline-offset: 5px;
  border: none;
  background: white;
}
.error {
  outline: 1px solid red;
}

/* Apply red border only to the input field */
.phone-input-error .PhoneInputInput {
  border-color: red;
}

/* Ensure the flag dropdown is not affected */
.PhoneInputCountry .PhoneInputCountrySelect {
  border-color: initial; /* Reset flag button's border, if needed */
}

.bg-overlay {
  background-image: url("../public/Logo.svg");
  background-repeat: no-repeat;
  width: 30px;
  background-size: contain;
  background-repeat: repeat-x;
  background-origin: left;
  background-position: 10% 90%;
}

.active {
  color: #edefee;
  background-color: #495e57;
  position: relative;
  margin-right: 1rem;
}

.active::after {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 6px;
  background-color: #edefee;
  color: #edefee;
}

@media screen and (max-width: 639px) {
  .active::after {
    width: 5.3px;
    height: 5.3px;
    top: 16px;
    left: 4px;
  }
}
